body {
  position: relative;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal; }
  body.sun-plasma {
    --accent: #ffae00;
    background: radial-gradient(circle, #ffae00, #ff0040); }
    body.sun-plasma::before {
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg1.jpg");
      filter: hue-rotate(170deg) brightness(0.8);
      content: "";
      position: fixed;
      inset: 0;
      background-position: center;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      z-index: -1; }
  body.strawberry {
    --accent: #ff3366;
    background: linear-gradient(135deg, #ff3366, #ff6699); }
    body.strawberry::before {
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg2.jpg");
      filter: hue-rotate(80deg) brightness(0.8);
      content: "";
      position: fixed;
      inset: 0;
      background-position: center;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      z-index: -1; }
    body.strawberry .warpedztheme-block img {
      filter: hue-rotate(508deg) brightness(1.23) saturate(1.3) sepia(0.2) invert(1); }
  body.chill {
    --accent: #33ccff;
    background: linear-gradient(135deg, #33ccff, #0066ff); }
    body.chill::before {
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg3.jpg");
      filter: hue-rotate(290deg) brightness(0.8);
      content: "";
      position: fixed;
      inset: 0;
      background-position: center;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      z-index: -1; }
    body.chill .warpedztheme-block img {
      filter: hue-rotate(706deg) invert(0.9) brightness(1.5) sepia(0.1); }
  body.key-lime {
    --accent: #ccff33;
    background: linear-gradient(135deg, #cf3, #0c280c); }
    body.key-lime::before {
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg4.jpg");
      filter: hue-rotate(175deg) brightness(0.8);
      content: "";
      position: fixed;
      inset: 0;
      background-position: center;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      z-index: -1; }
    body.key-lime .warpedztheme-block img {
      filter: hue-rotate(50deg) brightness(1.8) saturate(1.2) contrast(1.3) sepia(0.1); }
  body.transition-fx * {
    transition: all 0.3s ease; }
  body form select, body form input {
    cursor: pointer; }
  body form select.form-select {
    cursor: pointer;
    background: white;
    border: 1px solid slategray;
    border-radius: 5px;
    padding: 7px; }
  body form select option {
    cursor: pointer; }
  body form div.form-no-label {
    float: left; }
@container (min-width: 768px) {
  body .toggle-warpedztheme-flavor {
    scale: 1.2; } }
@container (min-width: 480px) and (max-width: 576px) {
  body .toggle-warpedztheme-flavor {
    scale: 0.9; } }
  body .block-admin-display-form table.responsive-enabled {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    display: block;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    max-width: 1280px; }
    body .block-admin-display-form table.responsive-enabled th {
      padding: 10px 94px 20px 78px; }
    body .block-admin-display-form table.responsive-enabled tbody {
      border-spacing: 0;
      display: table;
      padding-bottom: 35px;
      padding-left: 25px; }
      body .block-admin-display-form table.responsive-enabled tbody tr:nth-of-type(even) {
        background: rgba(255, 255, 255, 0.4); }
      body .block-admin-display-form table.responsive-enabled tbody tr:nth-of-type(odd) {
        background: rgba(255, 255, 255, 0.95); }
      body .block-admin-display-form table.responsive-enabled tbody tr td {
        padding: 10px 125px 42px 10px; }
        body .block-admin-display-form table.responsive-enabled tbody tr td .dropbutton-widget {
          background: white;
          padding: 5px 10px;
          border-radius: 5px;
          box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.1);
          border: 1px solid lightslategray;
          cursor: pointer;
          width: 140px; }
          body .block-admin-display-form table.responsive-enabled tbody tr td .dropbutton-widget ul.dropbutton li {
            margin-bottom: 8px; }
