body.sun-plasma {
  --accent: #ffae00;
  background: radial-gradient(circle, #ffae00, #ff0040);
}

body.strawberry {
  --accent: #ff3366;
  background: linear-gradient(135deg, #ff3366, #ff6699);
}

body.chill {
  --accent: #33ccff;
  background: linear-gradient(135deg, #33ccff, #0066ff);
}

body.key-lime {
  --accent: #ccff33;
  background: linear-gradient(135deg, #ccff33, #66ff66);
}