body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal; }
  body.sun-plasma {
    --accent: #ffae00;
    background: radial-gradient(circle, #ffae00, #ff0040); }
  body.strawberry {
    --accent: #ff3366;
    background: linear-gradient(135deg, #ff3366, #ff6699); }
  body.chill {
    --accent: #33ccff;
    background: linear-gradient(135deg, #33ccff, #0066ff); }
  body.key-lime {
    --accent: #ccff33;
    background: linear-gradient(135deg, #ccff33, #66ff66); }
  body.transition-fx * {
    transition: all 0.3s ease; }
  body form div.form-no-label {
    float: left; }
@container (min-width: 768px) {
  body .toggle-warpedztheme-flavor {
    scale: 1.2; } }
@container (min-width: 480px) and (max-width: 576px) {
  body .toggle-warpedztheme-flavor {
    scale: 0.9; } }
