/* SCSS Document */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal; }
  body.sun-plasma {
    --accent: #ff3366;
    background: linear-gradient(135deg, #ff3366, #ff6699); }
  body.strawberry {
    --accent: #ff3366;
    background: linear-gradient(135deg, #ff3366, #ff6699); }
  body.chill {
    --accent: #33ccff;
    background: linear-gradient(135deg, #33ccff, #0066ff); }
  body.key-lime {
    --accent: #ccff33;
    background: linear-gradient(135deg, #ccff33, #66ff66); }
  body.transition-fx * {
    transition: all 0.3s ease; }
  body form div.form-no-label {
    float: left; }
