//////////// warpedZtheme START ////////////

/////////// MIXINS ////////////
/// Accent Flavors /// 

@mixin sun-plasma {
  --accent: #ffae00;
  background: radial-gradient(circle, #ffae00, #ff0040);
}  

@mixin strawberry {
  --accent: #ff3366;
  background: linear-gradient(135deg, #ff3366, #ff6699);
}

@mixin chill {
  --accent: #33ccff;
  background: linear-gradient(135deg, #33ccff, #0066ff);
}

@mixin key-lime {
  --accent: #ccff33;
  background: linear-gradient(135deg,#cf3,#0c280c);
}

// Background Alignments ///

@mixin main-bgprops {
    content: "";
    position: fixed;
    inset: 0;
//    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    z-index: -1;
}

/// Fonts ///

@mixin pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin pt-sans-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/////////// START QUERIES ////////////

// Container breakpoints
$cq-uhd:        3200px;
$cq-qhd:        1920px;
$cq-hd:         1080px;
$cq-tablet-lg:   900px;
$cq-tablet:      768px;
$cq-mobile:      576px;
$cq-mobile-sm:   480px;
$cq-mobile-xsm:  360px;

// Container query mixins
@mixin cq-min($size) {
  @container (min-width: #{$size}) {
    @content;
  }
}

@mixin cq-range($min, $max) {
  @container (min-width: #{$min}) and (max-width: #{$max}) {
    @content;
  }
}
//////////// END QUERIES ////////////

/// Transitions ///

@mixin transition-all-third-sec-ease {
  transition: all 0.3s ease;
}

/////////// END MIXINS ///////////////

//////////// START body ////////////
body {
  position: relative;
  margin: 0;  

//  &::before {
//    content: "";
//  }
  
	&.sun-plasma {
    @include sun-plasma;
    &::before { 
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg1.jpg");
      filter: hue-rotate(170deg) brightness(0.8);
      @include main-bgprops;
    }  
	}

	&.strawberry {
    @include strawberry;
    &::before { 
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg2.jpg");
      filter: hue-rotate(80deg) brightness(0.8);
      @include main-bgprops;
    }
    .warpedztheme-block {
      img {
        filter: hue-rotate(508deg) brightness(1.23) saturate(1.3) sepia(0.2) invert(1);
      }    
    }
  }

	&.chill {
	  @include chill;
    &::before { 
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg3.jpg");
      filter: hue-rotate(290deg) brightness(0.8);
      @include main-bgprops;
    }    
    .warpedztheme-block {
      img {
        filter: hue-rotate(706deg) invert(0.9) brightness(1.5) sepia(0.1);
      } 
    }
  }

	&.key-lime {
    @include key-lime;
    &::before { 
      background: url("/themes/custom/warpedztheme/css/img/warpedztheme_img_bg4.jpg");
      filter: hue-rotate(175deg) brightness(0.8); 
      @include main-bgprops;
    }    
    .warpedztheme-block {
      img {
        filter: hue-rotate(50deg) brightness(1.8) saturate(1.2) contrast(1.3) sepia(0.1);
      }
    }
	}
  ///////////  END BACKGROUND ACCENTS ///////////
  
  &.transition-fx * {
    @include transition-all-third-sec-ease;
  }
  
  @include pt-sans-regular;
  
  form {
    select, input {
      cursor: pointer;
    }
    select {
      &.form-select {
        cursor: pointer;
        background: white;
        border: 1px solid slategray;
        border-radius: 5px;
        padding: 7px;
      }
      option {
        cursor: pointer
      }
    }
    div {
      &.form-no-label {
        float: left;
      }
    }
  }

  .toggle-warpedztheme-flavor {
    @include cq-min($cq-tablet) {
      scale: 1.2;
    }

    @include cq-range($cq-mobile-sm, $cq-mobile) {
      scale: 0.9;
    }
  }

  .block-admin-display-form {
    table {
      &.responsive-enabled {
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        display: block;
        background: rgba(255,255,255,0.7);
        border-radius: 25px;
        max-width: 1280px;
        
        th {
          padding: 10px 94px 20px 78px;
        }

        tbody {
          border-spacing: 0;
          display: table;
          padding-bottom: 35px;
          padding-left: 25px;
          
          tr {
            &:nth-of-type(even) {
              background: rgba(255,255,255,0.4);
            }
            &:nth-of-type(odd) {
              background: rgba(255,255,255,0.95);
            }
            td {
              padding: 10px 125px 42px 10px;
              .dropbutton-widget {
                background: white;
                padding: 5px 10px;
                border-radius: 5px;
                box-shadow: 0px 0px 48px 0px rgba(0,0,0,0.1);
                border: 1px solid lightslategray;
                cursor: pointer;
                width: 140px;
                ul {
                  &.dropbutton {
                    li {
                       margin-bottom: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }     
  }
}
//////////// END body ////////////
//////////// warpedZtheme END /////////////////