<div class="warpedztheme-flavors">
  <button
    type="button"
    class="toggle-warpedztheme-flavor"
    data-flavor="sun-plasma"
    aria-pressed="false"
  >
    Sun Plasma
  </button>

  <button
    type="button"
    class="toggle-warpedztheme-flavor"
    data-flavor="strawberry"
    aria-pressed="false"
  >
    Strawberry
  </button>

  <button
    type="button"
    class="toggle-warpedztheme-flavor"
    data-flavor="chill"
    aria-pressed="false"
  >
    Chill
  </button>

  <button
    type="button"
    class="toggle-warpedztheme-flavor"
    data-flavor="key-lime"
    aria-pressed="false"
  >
    Key Lime
  </button>
</div>