<div class="warp-flavors">
    <div class="toggle-warp-flavor" data-flavor="sun-plasma">Sun Plasma</div>
    <div class="toggle-warp-flavor" data-flavor="strawberry">Strawberry</div>
    <div class="toggle-warp-flavor" data-flavor="chill">Chill</div>
    <div class="toggle-warp-flavor" data-flavor="key-lime">Key Lime</div>
<div>